openapi: 3.0.1
info:
  title: Chatvolt API
  description: API para integrar Agentes de IA, Conversas, Contatos e Bases de Conhecimento
    do Chatvolt.
  termsOfService: http://chatvolt.ai/terms
  contact:
    email: support@chatvolt.ai
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
- url: https://api.chatvolt.ai
tags:
- name: CRM Conversation Logs
- name: CRM Scenarios
- name: CRM Steps
- name: agents
- name: artifact-categories
- name: artifact-media
- name: artifacts
- name: contact-variables
- name: contact_lists
- name: contacts
- name: conversations
- name: datasources
- name: datastores
- name: dispatch_contacts
- name: dispatches
- name: mercadolivre
- name: twilio
- name: variables
- name: whatsapp
- name: zapper
paths:
  /agent-blacklist:
    get:
      tags:
      - agents
      summary: Get all blacklist entries for the organization
      responses:
        '200':
          description: Successful operation. Returns an array of all blacklist entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentBlacklistEntry'
        '403':
          description: Unauthorized.
    post:
      tags:
      - agents
      summary: Add one or more users to an agent's blacklist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agentId
              - userIdentify
              properties:
                agentId:
                  type: string
                  description: The ID of the agent.
                userIdentify:
                  oneOf:
                  - type: string
                  - type: array
                    items:
                      type: string
                  description: A single user identifier or an array of user identifiers
                    to blacklist.
      responses:
        '200':
          description: Successfully created blacklist entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentBlacklistEntry'
        '400':
          description: Invalid request body.
        '403':
          description: Unauthorized.
  /agent-blacklist/{agentId}:
    get:
      tags:
      - agents
      summary: Retrieve the blacklist for a specific agent
      parameters:
      - in: path
        name: agentId
        required: true
        schema:
          type: string
        description: The ID of the agent.
      responses:
        '200':
          description: Successful operation. Returns an array of blacklist entries
            for the specified agent.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentBlacklistEntry'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
    delete:
      tags:
      - agents
      summary: Delete a blacklist entry
      description: Deletes a specific blacklist entry using its unique ID from the
        query.
      parameters:
      - in: path
        name: agentId
        required: true
        schema:
          type: string
        description: The ID of the agent associated with the blacklist (required for
          path, but not used in delete logic).
      - in: query
        name: id
        required: true
        schema:
          type: string
        description: The ID of the blacklist entry to delete.
      responses:
        '204':
          description: Blacklist entry deleted successfully.
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Blacklist entry not found.
  /agent-templates/{organizationId}:
    get:
      tags:
      - agents
      summary: List agent templates for an organization
      parameters:
      - in: path
        name: organizationId
        required: true
        schema:
          type: string
      responses: &id001
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  success:
                    type: boolean
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /agent-whitelist-whatsapp:
    post:
      tags:
      - agents
      summary: Add a WhatsApp number or multiple numbers to the agent's whitelist.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                  description: The ID of the agent.
                whatsappNumber:
                  oneOf:
                  - type: string
                    description: A single WhatsApp number to whitelist.
                  - type: array
                    items:
                      type: string
                    description: An array of WhatsApp numbers to whitelist.
              required:
              - agentId
              - whatsappNumber
      responses:
        '200':
          description: Successfully added the WhatsApp number(s) to the whitelist.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    agentId:
                      type: string
                      description: The ID of the agent.
                    whatsappNumber:
                      type: string
                      description: The whitelisted WhatsApp number.
        '400':
          description: Invalid request body (missing agentId or whatsappNumber).
        '409':
          description: One or more WhatsApp numbers are already whitelisted for this
            agent.
        '403':
          description: Unauthorized.
  /agent-whitelist-whatsapp/{id}:
    get:
      tags:
      - agents
      summary: Retrieve the whitelist for a specific agent.
      description: 'Obtain the whitelist entries (WhatsApp numbers) for the specified
        agent.

        '
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The ID of the agent.
      responses:
        '200':
          description: Successful operation. Returns an array of whitelist entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentWhitelistEntry'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
    delete:
      tags:
      - agents
      summary: Delete a whitelist entry for a specific agent.
      description: 'Remove a WhatsApp number from the agent''s whitelist.

        '
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The ID of the agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                whatsappNumber:
                  type: string
                  description: The WhatsApp number to be removed from the whitelist.
              required:
              - whatsappNumber
      responses:
        '200':
          description: Whitelist entry deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Whitelist entry deleted successfully.
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Whitelist entry not found.
    patch:
      tags:
      - agents
      summary: Update a whitelist entry for a specific agent.
      description: 'Update the WhatsApp number in the agent''s whitelist by replacing
        the old number with a new one.

        '
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: The ID of the agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                oldWhatsappNumber:
                  type: string
                  description: The current WhatsApp number in the whitelist.
                newWhatsappNumber:
                  type: string
                  description: The new WhatsApp number to replace the old one.
              required:
              - oldWhatsappNumber
              - newWhatsappNumber
      responses:
        '200':
          description: Whitelist entry updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentWhitelistEntry'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Whitelist entry not found.
        '409':
          description: Conflict - the new WhatsApp number already exists in the whitelist.
  /agents:
    post:
      tags:
      - agents
      summary: create a new agent.
      description: Create a new agent with the provided settings.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Agent name. If not provided, a fun name will be generated
                    automatically.
                description:
                  type: string
                  description: Agent description.
                modelName:
                  type: string
                  description: LLM model to be used by the agent. Check the API for
                    [available model names](https://api.chatvolt.ai/agents/models).
                temperature:
                  type: number
                  description: Model temperature (min 0.0, max 1.0). Controls randomness.
                    Model default if not specified.
                systemPrompt:
                  type: string
                  description: System prompt to guide the agent's behavior.
                visibility:
                  type: string
                  enum:
                  - public
                  - private
                  description: Agent visibility. `public` allows access without authentication
                    (depending on other settings), `private` restricts access to the
                    organization.
                  default: private
                handle:
                  type: string
                  description: A unique identifier (slug) for the agent. Used for
                    friendly URLs.
                interfaceConfig:
                  type: object
                  description: Chat interface settings for this agent (colors, initial
                    messages, etc.).
                  additionalProperties: true
                configUrlExternal:
                  type: object
                  description: External URL configurations.
                  properties:
                    url:
                      type: string
                    header:
                      type: string
                configUrlInfosSystemExternal:
                  type: object
                  description: External URL configurations of the system.
                  properties:
                    url_webhook_external:
                      type: string
                    headerKey:
                      type: string
                enableInactiveHours:
                  type: boolean
                  nullable: true
                  description: Enable or disable Inactive hours for the agent.
                inactiveHours:
                  type: object
                  nullable: true
                  description: A JSON object specifying the agent's inactive hours
                    per channel. The top-level keys represent the channel (e.g., `whatsapp`,
                    `website`,`instagram`), and each key contains an object with the
                    days of the week and their respective inactive time ranges.
                  example:
                    whatsapp:
                      monday:
                      - from: 00:00
                        to: 08:00
                      - from: '18:00'
                        to: '23:59'
                      saturday:
                      - from: '12:00'
                        to: '23:59'
                    website:
                      saturday:
                      - from: 00:00
                        to: '23:59'
                      sunday:
                      - from: 00:00
                        to: '23:59'
                tools:
                  type: array
                  description: List of tools to be associated with the agent.
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                        - datastore
                        - form
                        - lead_capture
                        - api_tool
                        description: Tool type.
                      config:
                        type: object
                        description: Specific tool settings.
                        additionalProperties: true
                      datastoreId:
                        type: string
                        description: Datastore ID (required if type is 'datastore').
                      formId:
                        type: string
                        description: Form ID (required if type is 'form').
                      serviceProviderId:
                        type: string
                        description: Optional ID of the service provider associated
                          with this datasource.
              required:
              - name
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
  /agents/{agentId}/tools:
    get:
      summary: Get all tools for an agent
      operationId: getTools
      tags:
      - Tools
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of tools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tool'
        '401':
          description: Unauthorized
    post:
      summary: Create a new tool for an agent
      operationId: createTool
      tags:
      - Tools
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tool'
              examples:
                setConversationStatus:
                  summary: Example of setting a conversation's status
                  value:
                    type: http
                    isRaw: false
                    config:
                      name: Set conversation Status (form)
                      description: Change the Status of a conversation between RESOLVED,
                        UNRESOLVED or HUMAN_REQUESTED.
                      url: https://api.chatvolt.ai/api/conversations/:conversation_id/set-status
                      method: POST
                      withApproval: false
                      headers:
                      - key: Authorization
                        value: Bearer <bearer-token>
                        isUserProvided: false
                        description: ''
                        acceptedValues: []
                      body:
                      - key: status
                        value: ''
                        isUserProvided: true
                        description: New conversation status
                        acceptedValues:
                        - RESOLVED
                        - UNRESOLVED
                        - HUMAN_REQUESTED
                      queryParameters: []
                      pathVariables:
                      - key: conversation_id
                        value: ''
                        isUserProvided: true
                        description: use {conversation-id}
                        acceptedValues: []
                      hasMaximumToolCalls: true
                      maximumToolCalls: 1
                      isErrorCountable: true
      responses:
        '201':
          description: Tool created successfully. The response body contains the complete
            tool object, including its generated `id` and the full configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
                examples:
                  httpToolResponse:
                    summary: Example response for a created HTTP tool
                    value:
                      id: clwscf12b000108l6d5s7g8h9
                      type: http
                      isRaw: false
                      config:
                        name: Set conversation Status (form)
                        description: Change the Status of a conversation between RESOLVED,
                          UNRESOLVED or HUMAN_REQUESTED.
                        url: https://api.chatvolt.ai/api/conversations/:conversation_id/set-status
                        method: POST
                        withApproval: false
                        headers:
                        - key: Authorization
                          value: Bearer <bearer-token>
                          isUserProvided: false
                          description: ''
                          acceptedValues: []
                        body:
                        - key: status
                          value: ''
                          isUserProvided: true
                          description: New conversation status
                          acceptedValues:
                          - RESOLVED
                          - UNRESOLVED
                          - HUMAN_REQUESTED
                        queryParameters: []
                        pathVariables:
                        - key: conversation_id
                          value: ''
                          isUserProvided: true
                          description: use {conversation-id}
                          acceptedValues: []
                        hasMaximumToolCalls: true
                        maximumToolCalls: 1
                        isErrorCountable: true
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
  /agents/{agentId}/tools/{toolId}:
    patch:
      summary: Update a tool
      operationId: updateTool
      tags:
      - Tools
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tool'
      responses:
        '200':
          description: The updated tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '401':
          description: Unauthorized
        '400':
          description: Bad Request
    delete:
      summary: Delete a tool
      operationId: deleteTool
      tags:
      - Tools
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tool deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          description: Unauthorized
  /agents/{id}:
    get:
      tags:
      - agents
      summary: Retrieves the details of a specific agent.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: Agent ID or its handle (unique identifier preceded by '@',
            e.g., '@my-agent').
        required: true
      responses:
        '200':
          description: Success - Returns the complete agent object. Sensitive data
            (such as HTTP tool configurations) may be omitted for unauthenticated
            requests or from outside the agent's organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '403':
          description: Unauthorized
    patch:
      tags:
      - agents
      summary: Partially updates an existing agent.
      description: Partially updates an existing agent based on the ID. Allows updating
        one or more fields of a specific agent. Only the fields provided in the request
        body will be updated.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: ID of the agent to be updated.
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the agent.
                description:
                  type: string
                  description: New description for the agent.
                modelName:
                  type: string
                  description: New LLM model to be used by the agent. Check the API
                    for [available model names](https://api.chatvolt.ai/agents/models).
                temperature:
                  type: number
                  description: New model temperature (min 0.0, max 1.0).
                systemPrompt:
                  type: string
                  description: New system prompt for the agent.
                visibility:
                  type: string
                  enum:
                  - public
                  - private
                  description: New visibility for the agent.
                handle:
                  type: string
                  description: New unique identifier (slug) for the agent.
                interfaceConfig:
                  type: object
                  description: New chat interface settings for this agent. Replaces
                    the existing object.
                  additionalProperties: true
                enableInactiveHours:
                  type: boolean
                  nullable: true
                  description: Enable or disable Inactive hours for the agent.
                inactiveHours:
                  type: object
                  nullable: true
                  description: A JSON object specifying the agent's inactive hours
                    per channel. The top-level keys represent the channel (e.g., `whatsapp`,
                    `website`,`instagram`), and each key contains an object with the
                    days of the week and their respective inactive time ranges.
                  example:
                    whatsapp:
                      monday:
                      - from: 00:00
                        to: 08:00
                      - from: '18:00'
                        to: '23:59'
                      saturday:
                      - from: '12:00'
                        to: '23:59'
                      website:
                      - from: 00:00
                        to: '23:59'
                      sunday:
                      - from: 00:00
                        to: '23:59'
                configUrlExternal:
                  type: object
                  description: New external URL configurations. Replaces the existing
                    object.
                  properties:
                    url:
                      type: string
                    header:
                      type: string
                configUrlInfosSystemExternal:
                  type: object
                  description: New external URL configurations of the system. Replaces
                    the existing object.
                  properties:
                    url_webhook_external:
                      type: string
                    headerKey:
                      type: string
                tools:
                  type: array
                  description: 'List of tools for the agent. This array defines the
                    final state of the tools.

                    - Tools in the array **without** an `id` will be **created**.

                    - Tools in the array **with** an existing `id` will be **updated**
                    (only `config` is updatable for `http`, `form`, `lead_capture`
                    types).

                    - Existing tools in the agent that are **not** present in this
                    array will be **removed**.'
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Tool ID (omit to create a new one, include to
                          update an existing one).
                      type:
                        type: string
                        enum:
                        - datastore
                        - form
                        - lead_capture
                        - api_tool
                        - http
                        description: Tool type.
                      config:
                        type: object
                        description: Specific tool settings.
                        additionalProperties: true
                      datastoreId:
                        type: string
                        description: Datastore ID (required if type is 'datastore').
                      formId:
                        type: string
                        description: Form ID (required if type is 'form').
                      serviceProviderId:
                        type: string
                        description: Service provider ID.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: Invalid body
        '403':
          description: Unauthorized
    delete:
      tags:
      - agents
      summary: Deletes a specific agent.
      description: Permanently deletes a specific agent by its ID. Permanently removes
        an agent and its associated data (including service providers and permissions).
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: ID of the agent to be deleted.
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '403':
          description: Unauthorized
  /agents/{id}/query:
    post:
      tags:
      - agents
      summary: Allows sending a query to a specific agent and receiving a response.
      description: This endpoint processes a query (Ask something) through the specified
        agent.
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: ID of the agent to be queried.
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Text of the question or command to be sent to the agent.
                streaming:
                  type: boolean
                  description: Set to `true` to receive a Server-Sent Events (SSE)
                    stream, `false` for a single JSON response.
                  default: false
                conversationId:
                  type: string
                  description: ID of the existing conversation. If not provided or
                    invalid, a new conversation will be created.
                contactId:
                  type: string
                  description: ID of an existing contact in the system. If provided,
                    associates the conversation with this contact. Alternative to
                    the `contact` object.
                contact:
                  type: object
                  description: Contact details. Used to find an existing contact (by
                    email, phoneNumber, or userId) or create a new one if not found.
                  properties:
                    firstName:
                      type: string
                      description: Contact's first name.
                    lastName:
                      type: string
                      description: Contact's last name.
                    email:
                      type: string
                      description: Contact's email. Used for search/creation.
                    phoneNumber:
                      type: string
                      description: 'Contact''s phone number (ex: 5511988887777). Used
                        for search/creation.'
                    userId:
                      type: string
                      description: 'External ID of the contact (ex: user ID in your
                        system). Used for search/creation.'
                visitorId:
                  type: string
                  description: ID of the visitor/participant who is sending the query.
                    If not provided, a new ID will be generated.
                temperature:
                  type: number
                  description: Model temperature (min 0.0, max 1.0). Controls the
                    randomness of the response.
                modelName:
                  type: string
                  description: Allows overriding the LLM model configured in the agent
                    for this specific query. Use [valid model names](https://api.chatvolt.ai/agents/models).
                presencePenalty:
                  type: number
                  description: Presence penalty (between -2.0 and 2.0). Positive values
                    encourage the model to talk about new topics.
                frequencyPenalty:
                  type: number
                  description: Frequency penalty (between -2.0 and 2.0). Positive
                    values discourage the model from repeating textual lines.
                topP:
                  type: number
                  description: 'Nucleus sampling (alternative to temperature). Considers
                    tokens with accumulated probability mass top_p. (Ex: 0.1 considers
                    the top 10%). It is recommended to change `topP` or `temperature`,
                    not both.'
                filters:
                  type: object
                  properties:
                    custom_ids:
                      type: array
                      description: Filters the search in datastores by custom IDs
                        associated with the chunks.
                      items:
                        type: string
                    datasource_ids:
                      type: array
                      description: Filters the search to use only chunks from the
                        datasources with the specified IDs. The IDs must correspond
                        to datastores associated as tools to the agent.
                      items:
                        type: string
                systemPrompt:
                  type: string
                  description: Allows overriding the system prompt configured in the
                    agent for this specific query.
                context:
                  type: object
                  description: Object to pass additional context data that can be
                    used by tools or in the prompt.
                callbackURL:
                  type: string
                  description: Optional URL. If provided, the API will return 202
                    immediately and will deliver the response to the Agent via a POST
                    request to this URL when it is ready.
              required:
              - query
      responses:
        '200':
          description: 'Success. The response varies based on the `streaming` parameter.

            - **If `streaming: false` (default):** Returns a complete JSON object
            with the response.

            - **If `streaming: true`:** Returns a `text/event-stream` SSE stream with
            events.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                    description: The agent's textual response.
                  conversationId:
                    type: string
                    description: ID of the conversation (existing or new).
                  visitorId:
                    type: string
                    description: ID of the visitor/participant.
                  messageId:
                    type: string
                    description: ID of the agent's response message in the database.
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatasourceChunk'
                    description: Datasource chunks used to generate the response (if
                      applicable).
                  metadata:
                    type: object
                    description: Additional metadata returned (may vary).
            text/event-stream:
              schema:
                type: string
                description: 'A Server-Sent Events (SSE) stream. Possible events:

                  - `event: answer\ndata: <response_chunk>`: Chunks of the agent''s
                  response being streamed.

                  - `event: endpoint_response\ndata: <final_json>`: Final event containing
                  the complete JSON response (similar to `application/json`, but as
                  a JSON string). Includes `messageId`, `answer`, `sources`, `conversationId`,
                  `visitorId`, `metadata`.

                  - `data: [DONE]`: Indicates the end of the stream.'
        '400':
          description: Invalid request (e.g., invalid body, missing parameters).
        '403':
          description: Unauthorized (e.g., invalid API Key, private agent without
            access).
        '404':
          description: Agent not found.
  /agents/{id}/webhook:
    patch:
      tags:
      - agents
      summary: Toggle WebHook status for a service provider.
      description: 'This endpoint allows controlling the webhook status for different
        service providers associated with an agent.

        For the `instagram` type, enabling/disabling the webhook also controls the
        `answerDms` and `answerComments` settings'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: ID of the agent to which the service provider belongs.
      - in: query
        name: type
        required: true
        schema:
          type: string
          enum:
          - whatsapp
          - telegram
          - zapi
          - instagram
        description: Type of the service provider for which the webhook status will
          be changed.
      - in: query
        name: enabled
        required: true
        schema:
          type: boolean
        description: Defines the new webhook status. `true` to enable, `false` to
          disable.
      responses:
        '200':
          description: Webhook status updated successfully.
          content:
            application/json:
              schema:
                type: string
              example: whatsapp webhook enabled
        '400':
          description: Required parameters (`id`, `type`, `enabled`) missing from
            the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: The parameters "id", "service-provider-type", and "enabled"
                      are required.
        '404':
          description: Agent not found with the provided `id`, or the service provider
            `type` was not found for this agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Agent not found or ServiceProvider not found for this
                      agent.
  /artifact-categories:
    get:
      tags:
      - artifact-categories
      summary: List Categories
      responses:
        '200':
          description: Categories hierarchy.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactCategory'
    post:
      tags:
      - artifact-categories
      summary: Create Category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                parentId:
                  type: string
                  nullable: true
              required:
              - name
      responses:
        '200':
          description: Created category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactCategory'
  /artifact-categories/{id}:
    get:
      tags:
      - artifact-categories
      summary: Get Category
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Category details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactCategory'
    put:
      tags:
      - artifact-categories
      summary: Update Category
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                parentId:
                  type: string
                  nullable: true
                isActive:
                  type: boolean
      responses:
        '200':
          description: Updated category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactCategory'
    delete:
      tags:
      - artifact-categories
      summary: Delete Category
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /artifacts:
    get:
      tags:
      - artifacts
      summary: List Artifacts
      description: List all artifacts for the organization with basic filtering.
      parameters:
      - in: query
        name: categoryId
        schema:
          type: string
        description: Filter by category ID.
      - in: query
        name: name
        schema:
          type: string
        description: Filter by exact name match.
      - in: query
        name: search
        schema:
          type: string
        description: General search string (name, description, id).
      responses:
        '200':
          description: List of artifacts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifact'
    post:
      tags:
      - artifacts
      summary: Create Artifact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateArtifactPayload'
      responses:
        '200':
          description: Created artifact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
    delete:
      tags:
      - artifacts
      summary: Bulk Delete Artifacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              required:
              - ids
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  message:
                    type: string
  /artifacts/media:
    get:
      tags:
      - artifact-media
      summary: List Artifact Media
      parameters:
      - in: query
        name: artifact_id
        required: true
        schema:
          type: string
      - in: query
        name: q
        schema:
          type: string
        description: Search by name or alt description.
      - in: query
        name: type
        schema:
          type: string
          enum:
          - IMAGE
          - VIDEO
          - AUDIO
          - DOCUMENT
          - OTHER
          - all
      responses:
        '200':
          description: List of media.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactMedia'
  /artifacts/media/upload:
    post:
      tags:
      - artifact-media
      summary: Upload Media
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                artifact_id:
                  type: string
                name:
                  type: string
                alt_description:
                  type: string
              required:
              - file
              - artifact_id
              - name
      responses:
        '200':
          description: Upload result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  s3Key:
                    type: string
                  fileUrl:
                    type: string
                  artifactMedia:
                    $ref: '#/components/schemas/ArtifactMedia'
  /artifacts/media/{id}:
    delete:
      tags:
      - artifact-media
      summary: Delete Media
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
    patch:
      tags:
      - artifact-media
      summary: Update Media Details
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                altDescription:
                  type: string
                isActive:
                  type: boolean
      responses:
        '200':
          description: Updated media.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactMedia'
  /artifacts/search:
    get:
      tags:
      - artifacts
      summary: Search Artifacts
      description: 'Search for artifacts with advanced filters.

        **Logic Notes:**

        - If `ids` is provided, `q` is ignored.

        - `categoryIds` searches recursively (includes children categories).

        - Arrays (`ids`, `categoryIds`, `mediaTypes`) accept comma-separated strings.

        '
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Search term for name, description, or category name. Ignored
          if `ids` is present.
      - in: query
        name: ids
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        description: List of specific Artifact IDs (e.g., `id1,id2`). Overrides textual
          search.
      - in: query
        name: minPrice
        schema:
          type: number
        description: Minimum price filter.
      - in: query
        name: maxPrice
        schema:
          type: number
        description: Maximum price filter.
      - in: query
        name: categoryIds
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
        description: List of category IDs. Includes sub-categories automatically.
      - in: query
        name: mediaTypes
        schema:
          type: array
          items:
            type: string
            enum:
            - IMAGE
            - VIDEO
            - AUDIO
            - DOCUMENT
            - OTHER
        style: form
        explode: false
        description: Filter by media types (e.g., `IMAGE,VIDEO`).
      - in: query
        name: maxMedias
        schema:
          type: integer
          default: 10
          maximum: 50
        description: Max number of media items to return per artifact.
      - in: query
        name: includeInactive
        schema:
          type: boolean
          default: false
        description: If true, returns inactive artifacts as well.
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
          maximum: 100
        description: Pagination limit.
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: Pagination page number.
      responses:
        '200':
          description: Successful search response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Artifact'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      limit:
                        type: integer
                      totalPages:
                        type: integer
                      maxMedias:
                        type: integer
  /artifacts/{id}:
    get:
      tags:
      - artifacts
      summary: Get Artifact
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Artifact details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
    put:
      tags:
      - artifacts
      summary: Update Artifact
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateArtifactPayload'
      responses:
        '200':
          description: Updated artifact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
    delete:
      tags:
      - artifacts
      summary: Delete or Toggle Artifact
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: action
        schema:
          type: string
          enum:
          - delete
          - toggle
          default: delete
        description: 'Action to perform: "delete" to remove, "toggle" to switch active
          status.'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
  /contacts:
    get:
      tags:
      - contacts
      summary: List Contacts
      description: Retrieves a list of contacts with filtering and pagination.
      parameters:
      - in: query
        name: offset
        schema:
          type: integer
          default: 0
        description: Number of records to skip for pagination.
      - in: query
        name: limit
        schema:
          type: integer
          default: 100
        description: Maximum number of records to return.
      - in: query
        name: search
        schema:
          type: string
        description: Search term for email, phone number, first name, or last name.
      - in: query
        name: tags
        schema:
          type: array
          items:
            type: string
        description: List of tags to filter by.
      - in: query
        name: crmScenario
        schema:
          type: string
        description: Filter by CRM Scenario ID.
      - in: query
        name: crmStep
        schema:
          type: string
        description: Filter by CRM Step ID.
      - in: query
        name: conversationStatus
        schema:
          type: string
          enum:
          - RESOLVED
          - UNRESOLVED
          - HUMAN_REQUESTED
        description: Filter by conversation status.
      - in: query
        name: agent
        schema:
          type: string
        description: Filter by Agent ID.
      - in: query
        name: priority
        schema:
          type: string
          enum:
          - LOW
          - MEDIUM
          - HIGH
        description: Filter by conversation priority.
      - in: query
        name: startDate
        schema:
          type: string
          format: date-time
        description: Filter contacts created on or after this date.
      - in: query
        name: endDate
        schema:
          type: string
          format: date-time
        description: Filter contacts created on or before this date.
      - in: query
        name: hasEmail
        schema:
          type: boolean
        description: Filter contacts that have an email address.
      - in: query
        name: hasPhone
        schema:
          type: boolean
        description: Filter contacts that have a phone number.
      - in: query
        name: channel
        schema:
          type: string
          enum:
          - website
          - dashboard
          - whatsapp
          - zapi
          - telegram
          - instagramDm
        description: Filter by conversation channel.
      responses:
        '200':
          description: A paginated list of contacts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  count:
                    type: integer
                    example: 42
    post:
      tags:
      - contacts
      summary: Create or Update a Contact
      description: Creates a new contact, or updates an existing one if an ID is provided
        in the body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactPayload'
      responses:
        '200':
          description: The created or updated contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
  /contacts/variables:
    get:
      tags:
      - contact-variables
      summary: Get Contact Variables
      description: 'Returns all custom variables stored for a contact.


        The `id` parameter is flexible — it can be a **contact ID** or a **conversation
        ID**

        (the first participant contact will be resolved automatically). If omitted
        or unresolvable,

        the executor falls back to the `conversationid` request header injected by
        the AI HTTP-tool

        runner.

        '
      parameters:
      - in: query
        name: id
        required: false
        schema:
          type: string
        description: Contact ID or Conversation ID. Required unless the `conversationid`
          request header is present.
      responses:
        '200':
          description: Contact variables retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  variables:
                    $ref: '#/components/schemas/ContactVariables'
                  variableList:
                    type: array
                    description: Formatted list of variables with source tracking.
                    items:
                      $ref: '#/components/schemas/ContactVariableItem'
        '400':
          description: Contact ID is required.
        '403':
          description: Unauthorized.
        '404':
          description: Contact not found.
    post:
      tags:
      - contact-variables
      summary: Create or Update a Contact Variable
      description: 'Creates a new variable for a contact, or updates its value if
        the key already exists (upsert).


        The operation is **atomic** — uses a PostgreSQL JSONB merge so concurrent
        writes to different

        keys never overwrite each other.


        The `id` field is optional when the request is made by the AI via HTTP tools
        and the

        `conversationid` header is present.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Contact ID or Conversation ID. Optional if the `conversationid`
                    header is set.
                key:
                  type: string
                  minLength: 1
                  description: Variable name (key). Must not start with `_`.
                value:
                  description: Variable value. Accepts any JSON type (string, number,
                    boolean, object, array, null).
                source:
                  type: string
                  enum:
                  - human
                  - ai
                  description: Origin of the variable — `human` for manual input,
                    `ai` for AI-generated.
              required:
              - key
              - value
              - source
            example:
              id: contact_abc123
              key: plano
              value: pro
              source: human
      responses:
        '200':
          description: Variable created or updated. Returns the full updated variables
            object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  variables:
                    $ref: '#/components/schemas/ContactVariables'
        '400':
          description: Invalid request body.
        '403':
          description: Unauthorized.
        '404':
          description: Contact not found.
    put:
      tags:
      - contact-variables
      summary: Update a Contact Variable
      description: 'Updates an existing contact variable. Functionally identical to
        `POST` (atomic upsert),

        provided as a separate verb for semantic clarity when the intent is to update.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Contact ID or Conversation ID. Optional if the `conversationid`
                    header is set.
                key:
                  type: string
                  minLength: 1
                  description: Variable name (key).
                value:
                  description: New variable value. Accepts any JSON type.
                source:
                  type: string
                  enum:
                  - human
                  - ai
                  description: Origin of the value.
              required:
              - key
              - value
              - source
            example:
              id: contact_abc123
              key: plano
              value: enterprise
              source: human
      responses:
        '200':
          description: Variable updated. Returns the full updated variables object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  variables:
                    $ref: '#/components/schemas/ContactVariables'
        '400':
          description: Invalid request body.
        '403':
          description: Unauthorized.
        '404':
          description: Contact not found.
    delete:
      tags:
      - contact-variables
      summary: Delete a Contact Variable
      description: 'Removes a specific variable key from a contact, or all variables
        if `key` is omitted.


        - **With `key`**: atomically removes that key and its `_sources` entry. Returns
        `404` if the key does not exist.

        - **Without `key`**: deletes the entire `contact_variables` record for the
        contact.

        '
      parameters:
      - in: query
        name: id
        required: true
        schema:
          type: string
        description: Contact ID or Conversation ID.
      - in: query
        name: key
        required: false
        schema:
          type: string
        description: Variable key to remove. Omit to delete all variables for the
          contact.
      responses:
        '200':
          description: Variable(s) deleted. Returns the current variables state after
            deletion.
          content:
            application/json:
              schema:
                type: object
                properties:
                  variables:
                    $ref: '#/components/schemas/ContactVariables'
        '403':
          description: Unauthorized.
        '404':
          description: Variable key not found (only when `key` is specified).
  /contacts/{id}:
    delete:
      tags:
      - contacts
      summary: Delete a Contact
      description: Deletes a contact by its ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The ID of the contact to delete.
      responses:
        '200':
          description: Contact deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Contact deleted successfully.
        '400':
          description: Invalid ID supplied.
        '404':
          description: Contact not found.
  /conversation:
    get:
      tags:
      - conversations
      summary: Lists conversations based on optional filters.
      description: Allows searching for conversations by agent ID, creation date (greater
        than or equal to), and status.
      parameters:
      - in: query
        name: agentId
        schema:
          type: string
        description: Agent ID to filter conversations. If 'null' (string), searches
          for conversations not assigned to any agent. Optional.
      - in: query
        name: channel
        schema:
          type: string
        description: Channel filter. Optional.
      - in: query
        name: createdAt
        schema:
          type: string
          format: date-time
        description: Filters conversations created from this date/time (inclusive).
          Accepted formats include 'YYYY-MM-DD HH:mm:ss', 'YYYY-MM-DD HH:mm', 'YYYY-MM-DD',
          or a complete ISO 8601 format. Optional.
      - in: query
        name: endDate
        schema:
          type: string
          format: date-time
        description: Filters conversations created until this date/time (inclusive).
          Accepted formats include 'YYYY-MM-DD HH:mm:ss' or complete ISO 8601 format.
          Optional.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - RESOLVED
          - UNRESOLVED
          - HUMAN_REQUESTED
        description: Filters conversations by status. Optional.
      - in: query
        name: priority
        schema:
          type: string
          enum:
          - LOW
          - MEDIUM
          - HIGH
        description: Filters conversations by priority. Optional.
      - in: query
        name: assigneeId
        schema:
          type: string
        description: Filters by the assigned membership ID, or 'unassigned' for conversations
          without assignees. Optional.
      - in: query
        name: unread
        schema:
          type: boolean
        description: If true, filters only conversations that have unread messages.
          Optional.
      - in: query
        name: tag
        schema:
          type: string
        description: Filters conversations by a specific tag. Optional.
      - in: query
        name: ai
        schema:
          type: string
          enum:
          - enabled
          - disabled
        description: Filters conversations based on their AI enabled state. Optional.
      - in: query
        name: adSourceId
        schema:
          type: string
        description: Filters conversations originating from a specific Meta Ad source
          ID. Optional.
      - in: query
        name: crmScenarioId
        schema:
          type: string
        description: Filters conversations that are active in a specific CRM scenario.
          Optional.
      - in: query
        name: crmStepId
        schema:
          type: string
        description: Filters conversations that are active in a specific CRM step.
          Must be used with crmScenarioId. Optional.
      - in: query
        name: frustrationMin
        schema:
          type: number
        description: Minimum frustration score (0 to 1). Optional.
      - in: query
        name: frustrationMax
        schema:
          type: number
        description: Maximum frustration score (0 to 1). Optional.
      - in: query
        name: npsStep
        schema:
          type: integer
        description: Filters conversations by their current NPS step. Optional.
      - in: query
        name: npsRating
        schema:
          type: integer
        description: Filters conversations by exact NPS rating score. Optional.
      - in: query
        name: npsRatingMin
        schema:
          type: integer
        description: Filters conversations with an NPS rating score greater than or
          equal to this value. Optional.
      - in: query
        name: npsRatingMax
        schema:
          type: integer
        description: Filters conversations with an NPS rating score less than or equal
          to this value. Optional.
      - in: query
        name: npsCompleted
        schema:
          type: boolean
        description: Filters conversations by NPS completion state. Optional.
      - in: query
        name: limit
        schema:
          type: integer
          default: 25
          maximum: 100
        description: Number of conversations to return (maximum 100, defaults to 25).
          Optional.
      - in: query
        name: cursor
        schema:
          type: string
        description: Cursor for pagination. A URL-safe JSON string containing `lastCreatedAt`
          and `lastId` (e.g. `{"lastCreatedAt":"2026-06-08T15:00:00.000Z","lastId":"some-id"}`).
          Optional.
      responses:
        '200':
          description: A list of conversations that match the filter criteria, capped
            by the `limit` parameter.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConversationDetailed'
        '400':
          description: Invalid query parameters (e.g., invalid date format for `createdAt`,
            or invalid `status` value).
        '403':
          description: Unauthorized.
  /conversation/message/{type}/{value}:
    post:
      tags:
      - conversations
      summary: Allows an agent to send a message to any conversation, following the
        rules of its parameters.
      description: Allows an agent to send a message to a conversation, identified
        by ID, phone, or email.
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - conversationId
          - phone
          - email
        description: Type of conversation identifier. It can be "conversationId" for
          the conversation ID, "phone" for the phone number, or "email" for the email
          address.
      - in: path
        name: value
        required: true
        schema:
          type: string
        description: Value corresponding to the identifier type specified in "type".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Content of the message to be sent.
                agentId:
                  type: string
                  description: (Optional) Agent ID, in cuid format.
                channel:
                  type: string
                  enum:
                  - website
                  - dashboard
                  - whatsapp
                  - zapi
                  - telegram
                  - instagramDm
                  description: (Optional) Channel used to send the message.
                attachments:
                  type: array
                  description: (Optional) List of attachments to be sent.
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                        description: Attachment URL.
                      name:
                        type: string
                        description: Attachment name.
                      mimeType:
                        type: string
                        description: MIME type of the attachment.
                visitorId:
                  type: string
                  description: (Optional) Visitor ID, if applicable.
                contactId:
                  type: string
                  description: (Optional) Contact ID, if applicable.
              required:
              - message
      responses:
        '200':
          description: Message sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    $ref: '#/components/schemas/Message'
        '400':
          description: Invalid request. This can occur if `type` is not `conversationId`
            and `agentId` or `channel` are missing, or if the request body is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_REQUEST
        '403':
          description: Unauthorized (e.g., session organization not found).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: UNAUTHORIZED
        '404':
          description: Conversation not found with the provided identifiers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: NOT FOUND
        '406':
          description: Session expired. The 24-hour limit for responding via API (for
            channels like WhatsApp/Instagram DM) has been exceeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: ERR_META_SESSION_EXPIRED_24H
        '500':
          description: Server error. Occurs when no conversation is found based on
            the provided parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: No Conversation found
  /conversation/{conversationId}:
    get:
      tags:
      - conversations
      summary: Gets the details of a specific conversation by its ID.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation to be retrieved.
      responses:
        '200':
          description: Success - Returns the conversation object corresponding to
            the provided ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDetailed'
        '400':
          description: Invalid request (e.g., missing `conversationId` or malformed).
        '403':
          description: Unauthorized.
        '404':
          description: Conversation not found with the provided ID or does not belong
            to the authenticated user's organization.
    delete:
      tags:
      - conversations
      summary: Deletes a specific conversation by its ID.
      description: Permanently deletes a conversation and all associated data, including
        messages and uploaded files from storage.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation to be deleted.
      responses:
        '200':
          description: Conversation deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Conversation deleted.
        '401':
          description: Unauthorized (e.g., user is not authenticated).
        '403':
          description: Forbidden (e.g., user does not have permission to delete this
            conversation).
        '404':
          description: Conversation not found with the provided ID.
  /conversation/{conversationId}/messages/{count}:
    get:
      tags:
      - conversations
      summary: Gets a specific number of messages from a conversation.
      description: Retrieves the last 'N' messages from a conversation, along with
        some conversation metadata.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation from which the messages will be retrieved.
      - in: path
        name: count
        schema:
          type: integer
          default: 2
        description: Number of most recent messages to be retrieved. If not specified,
          the default is 2.
        required: true
      responses:
        '200':
          description: Success - Returns conversation details and the requested messages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  isAiEnabled:
                    type: boolean
                  userId:
                    type: string
                  organizationId:
                    type: string
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
        '403':
          description: Unauthorized (e.g., attempt to access messages from a different
            organization, unless it is the "Chatvolt" organization).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '404':
          description: Conversation not found with the provided ID.
  /conversations/export:
    get:
      tags:
      - conversations
      summary: Export conversations in batch
      responses: &id002
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  success:
                    type: boolean
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /conversations/history:
    get:
      tags:
      - conversations
      summary: Get conversation history
      responses: *id001
  /conversations/{conversationId}/assign:
    post:
      tags:
      - conversations
      summary: Assigns a conversation to a user (agent).
      description: Associates a user with a specific conversation. If the conversation
        is already assigned to another user, the request will fail with a 409 Conflict,
        unless the 'force' parameter is set to true.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation to be assigned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email of the user to whom the conversation will be
                    assigned.
                id:
                  type: string
                  description: ID of the user to whom the conversation will be assigned.
                membershipId:
                  type: string
                  description: ID of the membership to whom the conversation will
                    be assigned.
                force:
                  type: boolean
                  description: If true, forces the assignment even if the conversation
                    is already assigned to another user.
              oneOf:
              - required:
                - email
              - required:
                - id
              - required:
                - membershipId
      responses:
        '200':
          description: Conversation assigned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Conversation Assigned.
        '400':
          description: Invalid request (e.g., missing `conversationId` in the path,
            or `email` missing in the body).
        '403':
          description: Unauthorized (e.g., user trying to assign a conversation from
            another organization, or the email user does not belong to the conversation's
            organization).
        '404':
          description: Conversation not found with the provided ID, or user not found
            with the provided email.
  /conversations/{conversationId}/export:
    get:
      tags:
      - conversations
      summary: Export a single conversation
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
      responses: *id002
  /conversations/{conversationId}/message-register:
    post:
      tags:
      - conversations
      summary: Registers a message in a conversation without sending it to the user.
      description: This endpoint is useful for registering events or messages from
        external triggers within the context of a specific conversation, without the
        message being effectively sent to the final participant.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation where the message will be registered.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Text of the message to be registered.
                from:
                  type: string
                  enum:
                  - human
                  - agent
                  description: Indicates the sender of the message.
                  default: human
              required:
              - message
      responses:
        '200':
          description: Message registered successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    $ref: '#/components/schemas/Message'
        '400':
          description: Invalid request (e.g., missing `conversationId` in the path,
            or `message` missing in the body).
        '403':
          description: Unauthorized (e.g., missing or invalid API key, or user does
            not have permission to access the conversation's organization).
        '404':
          description: Conversation not found with the provided ID.
  /conversations/{conversationId}/notes:
    get:
      tags:
      - conversations
      summary: Gets all notes for a specific conversation.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation to get notes for.
      responses:
        '200':
          description: Success - returns an array of conversation notes.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConversationNote'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Conversation not found.
    post:
      tags:
      - conversations
      summary: Creates a new note for a specific conversation.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation to add a note to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: Text content of the note (max 500 characters).
                isPrivate:
                  type: boolean
                  description: Whether the note is private.
                  default: false
                isJustify:
                  type: boolean
                  description: Whether the note is a justification (admin only).
                  default: false
                notificationDateTime:
                  type: string
                  format: date-time
                  description: Date and time for a notification, if any.
              required:
              - note
      responses:
        '201':
          description: Note created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationNote'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized.
        '404':
          description: Conversation not found.
  /conversations/{conversationId}/notes/{noteId}:
    put:
      tags:
      - conversations
      summary: Updates a specific conversation note.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation.
      - in: path
        name: noteId
        required: true
        schema:
          type: string
        description: ID of the note to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: Updated text content of the note.
                isPrivate:
                  type: boolean
                  description: Updated privacy status.
                notificationDateTime:
                  type: string
                  format: date-time
                  description: Updated notification date and time.
      responses:
        '200':
          description: Note updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationNote'
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized (or forbidden if you don't own the note).
        '404':
          description: Note not found.
    delete:
      tags:
      - conversations
      summary: Deletes a specific conversation note.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation.
      - in: path
        name: noteId
        required: true
        schema:
          type: string
        description: ID of the note to delete.
      responses:
        '204':
          description: Note deleted successfully.
        '400':
          description: Invalid request.
        '403':
          description: Unauthorized (or forbidden if you don't own the note).
        '404':
          description: Note not found.
  /conversations/{conversationId}/send-audio:
    post:
      tags:
      - conversations
      summary: Send an audio message in a conversation
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                audioUrl:
                  type: string
                duration:
                  type: integer
      responses: *id002
  /conversations/{conversationId}/set-ai-enabled:
    post:
      tags:
      - conversations
      summary: Enables or disables AI for a specific conversation.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation for which the AI state will be changed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Defines the new AI state. `true` to enable, `false`
                    to disable.
              required:
              - enabled
      responses:
        '200':
          description: AI state updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: AI is On.
        '400':
          description: Invalid request (e.g., missing `conversationId` in the path,
            or `enabled` missing/invalid in the body).
        '403':
          description: Unauthorized.
        '404':
          description: Conversation not found with the provided ID.
  /conversations/{conversationId}/set-priority:
    post:
      tags:
      - conversations
      summary: Sets the priority of a specific conversation.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation for which the priority will be set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                priority:
                  type: string
                  enum:
                  - LOW
                  - MEDIUM
                  - HIGH
                  description: New priority for the conversation.
              required:
              - priority
      responses:
        '200':
          description: Conversation priority updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Conversation Priority changed.
        '400':
          description: Invalid request (e.g., missing `conversationId` in the path,
            or `priority` missing/invalid in the body).
        '403':
          description: Unauthorized.
        '404':
          description: Conversation not found with the provided ID.
  /conversations/{conversationId}/set-status:
    post:
      tags:
      - conversations
      summary: Sets the status of a specific conversation.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation for which the status will be set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - RESOLVED
                  - UNRESOLVED
                  - HUMAN_REQUESTED
                  description: New status for the conversation.
              required:
              - status
      responses:
        '200':
          description: Conversation status updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Conversation Status changed.
        '400':
          description: Invalid request (e.g., missing `conversationId` in the path,
            or `status` missing/invalid in the body).
        '403':
          description: Unauthorized.
        '404':
          description: Conversation not found with the provided ID.
  /conversations/{conversationId}/tags:
    get:
      tags:
      - conversations
      summary: List tags for a conversation
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
      responses: *id001
    post:
      tags:
      - conversations
      summary: Add tag to conversation
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tagName:
                  type: string
      responses: *id002
  /conversations/{conversationId}/unassign:
    post:
      tags:
      - conversations
      summary: Unassigns the current assignee from a conversation.
      description: Removes the user currently assigned to the specified conversation.
      parameters:
      - in: path
        name: conversationId
        required: true
        schema:
          type: string
        description: ID of the conversation to be unassigned.
      responses:
        '200':
          description: Conversation unassigned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Conversation unassigned.
        '400':
          description: Invalid request (e.g., missing `conversationId` in the path).
        '403':
          description: Unauthorized.
        '404':
          description: Conversation not found with the provided ID.
  /crm/conversation/count:
    get:
      tags:
      - crm
      summary: Count CRM conversations
      responses: *id002
  /crm/conversationLog:
    get:
      tags:
      - CRM Conversation Logs
      summary: List CRM Conversation Logs
      description: Retrieves a list of CRM conversation logs, with optional filtering
        and pagination.
      parameters:
      - in: query
        name: conversationId
        schema:
          type: string
        required: false
        description: Filter logs by a specific Conversation ID.
      - in: query
        name: scenarioId
        schema:
          type: string
        required: false
        description: Filter logs by a specific CRM Scenario ID.
      - in: query
        name: stepId
        schema:
          type: string
        required: false
        description: Filter logs by a specific CRM Step ID.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - inactive
          - active
          - error
        required: false
        description: Filter logs by status.
      - in: query
        name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Page number for pagination.
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Number of logs per page.
      responses:
        '200':
          description: A paginated list of CRM conversation logs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCrmConversationLogs'
        '400':
          description: Invalid query parameters.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
      security:
      - bearerAuth: []
    post:
      tags:
      - CRM Conversation Logs
      summary: Create CRM Conversation Log
      description: Creates a new CRM conversation log.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - conversationId
              - scenarioId
              - stepId
              - status
              properties:
                conversationId:
                  type: string
                  format: cuid
                  description: ID of the associated conversation.
                scenarioId:
                  type: string
                  format: cuid
                  description: ID of the associated CRM scenario.
                stepId:
                  type: string
                  format: cuid
                  description: ID of the associated CRM step.
                status:
                  type: string
                  enum:
                  - inactive
                  - active
                  - error
                  description: Status of the log.
      responses:
        '201':
          description: CRM conversation log created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., user does not have a paid plan).
      security:
      - bearerAuth: []
  /crm/conversationLog/{logId}:
    get:
      tags:
      - CRM Conversation Logs
      summary: Get CRM Conversation Log by ID
      description: Retrieves a specific CRM conversation log by its unique identifier.
      parameters:
      - name: logId
        in: path
        required: true
        description: The ID of the CRM conversation log to retrieve.
        schema:
          type: string
          format: cuid
      responses:
        '200':
          description: Successfully retrieved the CRM conversation log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: CRM conversation log not found.
      security:
      - bearerAuth: []
    put:
      tags:
      - CRM Conversation Logs
      summary: Update CRM Conversation Log
      description: 'Updates the status of a specific CRM conversation log. NOTE: Currently,
        PUT and PATCH are functionally identical as only ''status'' is updatable.
        Consider expanding ''UpdateCrmConversationLogPayload'' for PATCH if more fields
        become updatable.

        '
      parameters:
      - name: logId
        in: path
        required: true
        description: The ID of the CRM conversation log to update.
        schema:
          type: string
          format: cuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCrmConversationLogPayload'
      responses:
        '200':
          description: Successfully updated the CRM conversation log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '400':
          description: Invalid request body or logId.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden (e.g., user does not have a paid plan or trying to
            update a log from another organization).
        '404':
          description: CRM conversation log not found.
      security:
      - bearerAuth: []
    patch:
      tags:
      - CRM Conversation Logs
      summary: Partially Update CRM Conversation Log
      description: 'Partially updates the status of a specific CRM conversation log.
        NOTE: Currently, PUT and PATCH are functionally identical as only ''status''
        is updatable. Consider expanding ''UpdateCrmConversationLogPayload'' for PATCH
        if more fields become updatable.

        '
      parameters:
      - name: logId
        in: path
        required: true
        description: The ID of the CRM conversation log to update.
        schema:
          type: string
          format: cuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCrmConversationLogPayload'
      responses:
        '200':
          description: Successfully updated the CRM conversation log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmConversationLog'
        '400':
          description: Invalid request body or logId.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
[...]
